{{>header}}

<h1 style="text-align:center">Administrador de usuarios</h1>
    <h2>Selecciona un usuario</h2>

    {{{listarUsuarios listadoU}}}

    <br>
    <hr>
    {{{mostrarPerfil perfil}}}
    <h3 style="text-align:center; color:red;">{{mensaje}}</h3>
    <br><hr><br>
    {{{mostrarRol perfil}}}
    <h3 style="text-align:center; color:red;">{{mensaje2}}</h3>


{{>footer}}
