{{>header}}
    <h1 style="text-align:center">Bienvenido {{nombre}} a la interfaz de {{rol}}</h1>
    <br>
    <h3 style="text-align:center">Tus cursos</h3>

    {{{miscursos aspirante lista}}}
    <br>
    <hr>
    <h4 style="color: #343a40">¿Quieres inscribirte a algun curso?</h4>
    {{{selectCursos2 lista}}}
    <br>
    <h5>{{confirmacion}}</h5>


{{>footer}}
