{{>header}}
<div class="text-center">
    <h1>
      Creacion de cursos
    </h1>

</div>
<div class="text-center">

  <img src="data: img/png;base64,{{mostrar}}" class="img-fluid">

<h2>nombre : {{infon}}</h2><br>
<h2>id : {{infoid}}</h2><br>
<h2>valor : {{infov}}</h2><br>
<h2>modalidad : {{infom}}</h2><br>
<h2>descripcion : {{infod}}</h2><br>

</div>
<form action="/coordinador" method="post">
  <div class="col-md-6">
    <button type="submit" class="btn btn-dark" name="usuario">Volver</button>
  </div>
</form>

{{>footer}}
