{{>headercoordi}}
<div class="text-center">
    <h1>
      Creacion de cursos
    </h1>

</div>
<div class="text-center">
<h2> {{mostrar}}</h2>
   {{!--  <h2>
      {{crearCurso nombre id descripcion valor ih modalidad}}
    </h2>
    <h3>
    Los datos del curso son:   nombre: {{nombre}}, descripcion:{{descripcion}}, identificador: {{id}}, intensidad horaria: {{ih}}, valor: {{valor}}, modalidad: {{modalidad}}
    </h3>
 --}}

</div>
<form action="/coordinador" method="post">
  <div class="col-md-6">
    <button type="submit" class="btn btn-dark" name="usuario">Volver</button>
  </div>
</form>

{{>footer}}
