{{>header}}
    <p>
      Creacion de usuario
    </p>
    <p>
      {{mostrar}}
    </p>
    {{!-- <p>
    Tus datos fueron:   nombre: {{nombre}}, cedula: {{cedula}}, correo: {{correo}}, telefono: {{telefono}}
    </p> --}}

    <button type="button" name="volver al inicio" onclick="location.href='./'" class="btn btn-dark">Volver al inicio</button>
    <button type="button" name="ingresar" onclick="location.href='./login'"  class="btn btn-dark">Ingresar</button>
{{>footer}}
